.container {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
    width: 100%;
}

.container > p {
    text-align: center;
    margin: 5px;
}

#title {
    text-align: center;
    margin:0;
}

main {
    color: white;
    font-size: 18px;
}

.myForm {
    display: block;
    margin-bottom: 15px;
    margin-left: 15px;
    color: gold;
}

.placeholder {
    color: palevioletred;
}

#beer-factory-container > img {
    width: 100px;
}

#beer-factory-container {
    text-align: center;
}

#result, #get-btn {
    margin-left: 15px;
}
