body {
    background: url('./images/adventure-alps-camp-camping-618848.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    background-color: gray
}

/* Nav Bar Effects */
nav {
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    display: inline-block;
    margin:0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.nav-bar li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: gold;
    list-style: none;
    line-height: 40px;
}

.nav-bar li a {
    text-decoration: none;
    display: block;
}

.nav-bar-dropdown {
    float: right;
    display: none;
    padding-left: 0px;
}

/* Hover effects */
.nav-bar > li:hover .nav-bar-dropdown  {
    display: block;
}

.nav-bar-dropdown :hover, .nav-bar li :hover {
    background-color: goldenrod;
}

.container {
    /* display: inline-block; */
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgba(94,97,100,0.4);
}

.container > h1 {
    color: gold;
}

#email {
    color: gold;
}

#home-image {
    width: 450px;
}

label {
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 799px) {
    label {
        display:block;
        background-color: gold;
        cursor: pointer;
        text-align: right;
        padding: 5px 40px 5px 0;
        font-size: 26px;
        width: 100%;
    }

    .nav-bar > li {
        display: none;
        width: 100%;
    }

    .nav-bar > li > a {
        display: block;
    }

    #toggle:checked + .nav-bar > li {
        display: block;
        border-left: 1px solid goldenrod;   
    }

    .nav-bar > li:active .nav-bar-dropdown {
        display: none;
    }

}