.container {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgba(94,97,100,0.4);
}

.container > h3 {
    color: gold;
}

.container > p {
    font-size: 20px;
    width: 100%;

}

.links {
    color: gold;
}

#author-image {
    width: 200px;
}

#cheers-animated {
    width: 150px;
}
